:root{
    font-family: "Inter", serif;
    background-color: rgb(204, 204, 204);
    max-width: 1080px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
body{
    margin: 0;
    box-shadow: 0px 0px 2px gray;
    background-color: whitesmoke;
}
.main-content{
    width: 100vw;
    max-width: 1080px;
}

/* ************* */
/* HEADER STYLES */
/* ************* */
header{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #F55A5A;
    width: 100%;
    max-width: 1080px;
    height: 80px;
}
header > img{
    width: 38px;
    height: 38px;
    margin-right: 5px;
}
header > h1{
    font-size: 1.2rem;
    font-weight: 400;
}

/* *********** */
/* Card Styles */
/* *********** */
section{
    box-shadow: 1px 1px 4px gray;
    padding: 5px 30px 5px 30px;
    border-radius: 10px;
    margin: 25px auto;
    max-width: 720px;
    display: flex;
    align-items: center;
}
section > img{
    box-shadow: 1px 1px 4px gray;
    margin-right: 20px;
    border-radius: 10px;
}
.info-section{
    padding: 40px 0 40px 0;
}
.country-section{
    display: flex;
    align-items: center;
}
.country-section > img{
    height: 28px;
}
.country-section > h1{
    font-weight: 300;
    font-size: 1rem;
    margin-right: 20px;
}
.specific-location{
    margin: 0 0 20px 0;
    font-size: 2rem;
}
.dates{
    margin: 0;
    font-weight: 400;
    font-size: .9rem;
}
.description{
    font-size: 1.1rem;
}